html,body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#header {
    grid-row: 1 / 2;
    grid-column: 1 / 7;

    background-color: lavender;
}

#project-selector {
    grid-row: 2 / 7;
    grid-column: 1 / 2;

    background-color: antiquewhite;
}

#container {
    grid-row: 3 / 7;
    grid-column: 2 / 7;

    align-self: baseline;
}

#add-form {
    grid-row: 2 / 3;
    grid-column: 2 / 7;
    height: min-content;
}

.done {
    text-decoration: line-through;
}

dialog::backdrop {
    background-color: black;
    opacity: .5;
}

#header {
    text-align: right
}